@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<iframe src="https://calendar.google.com/calendar/embed?src=salomon.keith%40gmail.com&ctz=America/Los_Angeles" 
style="border: 0" 
width="800" 
height="600" 
frameborder="0" 
scrolling="no">
</iframe>

<br />
<br />
<div>

<a href="https://calendar.google.com/calendar/render?eid=ZHU4Y2s4cWtidHQzOGh0czRrZmJ1bTl2Mzggc2Fsb21vbi5rZWl0aEBt&ctz=America/Los_Angeles&sf=true&output=xml#main_7" target="_blank">Add Calendar Event</a>

</div>

<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
