@{
    ViewBag.Title = "Switch";
}

<h2>Relay Control</h2>

<br />

<div id="console-event"></div>
      
<!--<form id="formBasic" action="https://api.particle.io/v1/devices/24002a001247353136383631/led?access_token=910e6334e063379fc1d3289298e85a2b7bbcd3d7" method="POST" class="form-inline">-->
<form id="formBasic">
           
Control Relay D0<br>    
    
    <br>
    <input type="radio" name="args" value="on">Turn Relay On.
    <br>
    <input type="radio" name="args" value="off">Turn Relay off.
    <br>      
    
    <div class="form-group">
    <!--<input id="submit" type="submit" value="Submit">-->
    <button id="submit" class="btn btn-success">Control Relay</button>
    </div>
</form>  

    <br> <br> 
    <div id="displayMessage">

    </div>  
 
<script>
    
    $(document).ready(function () {

        var formBasic = function () {

            var formData = $("#formBasic").serialize();

            $.ajax({
                type: 'post',
                data: formData,
                dataType: 'json',
                url: 'https://api.particle.io/v1/devices/24002a001247353136383631/led?access_token=910e6334e063379fc1d3289298e85a2b7bbcd3d7',
                error: function () {
                    alert("There was an error processing this page.");
                    return false;
                },
                complete: function (output) {

                    var jsonResult = JSON.stringify(output.responseText);
                    var resultObj = JSON.parse(jsonResult);

                    $('#submit').removeClass("btn btn-success");
                    $('#submit').addClass( "btn btn-info" );
                    $('#displayMessage').html(output.responseText);
                    
                }
            });

            return false;
        };

        $("#submit").on("click", function (e) {
            e.preventDefault();
            formBasic();
        });

        //Add more button handlers here

    });
    
</script>

